{{> head}}
{{>navbar}}


<div class="row">

    <div class="col-8">
        <h1>Tigre</h1>
        <p>
            dkadjasjdajssdkajsdasd
        </p>
    </div>
</div class="col-4">

<img src="assets/img/tigre.jpg" class="img-thumbnail">

<div>


</div>




{{>footer}}